# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Storage uploads and extracted contents
storage/uploads/*
storage/extracted/*
!storage/uploads/.gitkeep
!storage/extracted/.gitkeep

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
